/* RON RON CSS FRAMEWORK */

.main {
    background: #0f0;
}

.main2 {
    background: #f00;
}

.main3 {
    background: #00f;
}

.height-10 {
    height: 10px;
}

.height-20 {
    height: 20px;
}

.height-30 {
    height: 30px;
}

.height-40 {
    height: 40px;
}

.height-50 {
    height: 50px;
}

.height-60 {
    height: 60px;
}

.height-70 {
    height: 70px;
}

.height-80 {
    height: 80px;
}

.height-90 {
    height: 90px;
}

.height-100 {
    height: 100px;
}

.height-110 {
    height: 110px;
}

.height-120 {
    height: 120px;
}

.height-130 {
    height: 130px;
}

.height-140 {
    height: 140px;
}

.margem-top-10 {
    margin-top: 10px;
}

.margem-top-20 {
    margin-top: 20px;
}

.margem-top-30 {
    margin-top: 30px;
}

.margem-top-40 {
    margin-top: 40px;
}

.margem-top-50 {
    margin-top: 50px;
}

.margem-top-60 {
    margin-top: 60px;
}

.margem-top-70 {
    margin-top: 70px;
}

.margem-top-80 {
    margin-top: 80px;
}

.margem-top-90 {
    margin-top: 90px;
}

.margem-top-100 {
    margin-top: 100px;
}

.margem-top-110 {
    margin-top: 110px;
}

.margem-top-120 {
    margin-top: 120px;
}

.margem-top-130 {
    margin-top: 130px;
}

.margem-top-140 {
    margin-top: 140px;
}

.margem-top-150 {
    margin-top: 150px;
}

.margem-top-160 {
    margin-top: 160px;
}

.margem-top-170 {
    margin-top: 170px;
}

.margem-top-180 {
    margin-top: 180px;
}

.margem-top-190 {
    margin-top: 190px;
}

.margem-top-200 {
    margin-top: 200px;
}

.margem-top-210 {
    margin-top: 210px;
}

.margem-top-220 {
    margin-top: 220px;
}

.margem-top-230 {
    margin-top: 230px;
}

.margem-top-240 {
    margin-top: 240px;
}

.margem-bottom-10 {
    margin-bottom: 10px;
}

.margem-bottom-20 {
    margin-bottom: 20px;
}
.margem-bottom-20 {
    margin-bottom: 20px;
}

.margem-bottom-30 {
    margin-bottom: 30px;
}

.margem-bottom-40 {
    margin-bottom: 40px;
}

.margem-bottom-50 {
    margin-bottom: 50px;
}

.margem-bottom-60 {
    margin-bottom: 60px;
}

.margem-bottom-70 {
    margin-bottom: 70px;
}

.margem-bottom-80 {
    margin-bottom: 80px;
}

.margem-left-10 {
    margin-left: 10px;
}

.margem-left-10 {
    margin-left: 10px;
}

.margem-left-20 {
    margin-left: 20px;
}

.margem-left-30 {
    margin-left: 30px;
}

.margem-left-40 {
    margin-left: 40px;
}

.margem-left-50 {
    margin-left: 50px;
}

.margem-left-60 {
    margin-left: 60px;
}

.margem-left-70 {
    margin-left: 70px;
}

.margem-left-80 {
    margin-left: 80px;
}

.margem-left-90 {
    margin-left: 90px;
}

.margem-left-100 {
    margin-left: 100px;
}

.padding-top-10 {
    padding-top: 10px; 
}

.padding-top-20 {
    padding-top: 20px; 
}

.padding-top-30 {
    padding-top: 30px; 
}

.padding-top-40 {
    padding-top: 40px; 
}

.padding-top-50 {
    padding-top: 50px; 
}

.padding-top-60 {
    padding-top: 60px; 
}

.padding-top-70 {
    padding-top: 70px; 
}

.padding-top-80 {
    padding-top: 80px; 
}

.padding-top-90 {
    padding-top: 90px; 
}

.padding-top-100 {
    padding-top: 100px; 
}

.padding-bottom-10 {
    padding-bottom: 10px; 
}

.padding-bottom-20 {
    padding-bottom: 20px; 
}

.padding-bottom-30 {
    padding-bottom: 30px; 
}

.padding-bottom-40 {
    padding-bottom: 40px; 
}

.padding-bottom-50 {
    padding-bottom: 50px; 
}

.padding-bottom-60 {
    padding-bottom: 60px; 
}

.padding-bottom-70 {
    padding-bottom: 70px; 
}

.padding-bottom-80 {
    padding-bottom: 80px; 
}

.padding-bottom-90 {
    padding-bottom: 90px; 
}

.padding-bottom-100 {
    padding-bottom: 100px; 
}

.padding-left-10 {
    padding-left: 10px; 
}

.padding-left-20 {
    padding-left: 20px; 
}

.padding-left-30 {
    padding-left: 30px; 
}

.border-top {
    border-top: 3px solid #fff;
}


.fonte17 {
    font-size: 17px;
}

.fonte18 {
    font-size: 18px;
}

.fonte19 {
    font-size: 19px;
}

.fonte20 {
    font-size: 20px;
}

.fonte21 {
    font-size: 21px;
}

.fonte22 {
    font-size: 22px;
}

.fonte23 {
    font-size: 23px;
}

.fonte24 {
    font-size: 24px;
}

.fonte25 {
    font-size: 25px;
}

.fonte26 {
    font-size: 26px;
}

.fonte27 {
    font-size: 27px;
}

.fonte28 {
    font-size: 28px;
}

.fonte29 {
    font-size: 29px;
}

.fonte30 {
    font-size: 30px;
}

.fonte31 {
    font-size: 31px;
}

.fonte32 {
    font-size: 32px;
}

.fonte33 {
    font-size: 33px;
}

.fonte34 {
    font-size: 34px;
}

.fonte35 {
    font-size: 35px;
}

.fonte36 {
    font-size: 36px;
}

.fonte37 {
    font-size: 37px;
}

.fonte38 {
    font-size: 38px;
}

.fonte39 {
    font-size: 39px;
}

.fonte40 {
    font-size: 40px;
}

.fonte50 {
    font-size: 50px;
}

.fonte60 {
    font-size: 60px;
}

.fonte70 {
    font-size: 70px;
}

.fonte120 {
    font-size: 120px;
}

.fonte130 {
    font-size: 130px;
}

.fonte140 {
    font-size: 140px;
}

.fonte150 {
    font-size: 150px;
}







